.main {
  border-radius: 12px 12px 0 0;
  margin: auto;
  background: #fff;
  overflow: hidden;
  width: 100%;
  z-index: 99;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.inner-container {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  max-width: 348px;
  width: 100%;
  align-self: stretch;
}
.inner-container.first {
  background: #ebebf0;
}

.first-title {
  color: var(--Dark-Dark-1, #28293d);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.25px;
  margin: 0;
}

.timezone-text {
  color: var(--Dark-Dark-2, #555770);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  margin-top: -16px;
}
.timezone-text span {
  color: var(--Dark-Dark-2, #555770);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.main-footer {
  display: flex;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: var(--Primary-Color, #378760);
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
  border-radius: 0 0 12px 12px;
}

/* slot */
.slot-box {
  display: flex;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--Primary-Color, #378760);
  background: var(--Light-Light-4, #fff);
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 22px;
  transition: 0.1s all ease-in-out;
}
.slots {
  width: 100%;
  display: grid;
  gap: 12px;
  overflow: auto;
  height: 230px;
}

.slot-box.isActiveSlot {
  justify-content: space-between;
  background: var(--Primary-Color, #378760) !important;
  align-items: center;
}

.slot-box.isActiveSlot p {
  color: white !important;
}

.slot-box:hover {
  background-color: #37876018;
}

.slot-box p {
  color: var(--Primary-Color, #378760);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
}

.inner-container .slot-title {
  color: var(--Dark-Dark-2, #555770);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 0 -10px 0;
}

.inner-divider {
  stroke-width: 1px;
  border: 0.5px solid #c7c9d9;
  width: 100%;
}

/* calender */
.calendar-container {
  width: 100%;
  /* max-width: 300px !important; */
  border-radius: 12px;
  border: 1px solid #c8c9d9 !important;
}
.react-calendar__month-view__weekdays {
  text-decoration: none !important;
  text-transform: capitalize !important;
}
.react-calendar__month-view__weekdays__weekday abbr {
  color: var(--Primary-Color, #378760);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.react-calendar__tile.react-calendar__month-view__days__day abbr {
  color: var(--Text, #333);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.react-calendar__month-view__days button {
  border-radius: 16px;
  padding: 5px;
  margin-bottom: 5px !important;
}

.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
  color: var(--Text, #333);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  display: none;
}
.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
  display: none;
}
.react-calendar__navigation {
  border-bottom: 1px solid #f2f2f5;
  padding: 6px;
  height: 56px !important;
}
.react-calendar__month-view {
  padding: 10px;
  margin-top: -14px;
}

.react-calendar__tile--active {
  background-color: #378760 !important;
}
.react-calendar__tile--active abbr {
  color: white !important;
}
.react-calendar__tile--now {
  background-color: #3787601e !important;
}
.react-calendar__tile--now.react-calendar__tile--active {
  background-color: #378760 !important;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button {
  color: #378760;
  font-size: 26px;
}

/* responsivness */

@media only screen and (max-width: 890px) {
  .grid-container {
    display: block;
  }
  .inner-container {
    width: 100% !important;
    max-width: 100%;
  }
}

.skeleton {
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  display: inline-block;
  line-height: 1;
  width: 100%;
  height: 48px;
  margin: 4px 0px;
  animation: skeleton-animation 1.5s ease-in-out infinite;
}

@keyframes skeleton-animation {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
